<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <%= render "form", video: @video %>
        <br>
        <div>
          <%= link_to "Show this video", @video %> |
          <%= link_to "Back to videos", videos_path %>
        </div>
        /div>
      </div>
    </div>
  </section>
