<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title is-3 has-text-centered">Save your new favorite music video</h1>
        <%= render "form", video: @video %>
        <br>
        <div>
          <%= link_to "Back to videos", videos_path %>
        </div>
      </div>
    </div>
  </div>
</section>
